@font-face {
    font-family: 'Arimo-Bold';
    src: url('Fuentes/Arimo-Bold.ttf') format('truetype');
}

.contInicioSeccion {
    background-color: gray;
    position: relative;
    width: 30%;
    opacity: 0.5;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 6px;
}

.tbInicioSeccion {
    width: 100%;
    text-align: center;
}

.tittleInicioS {
    color: black;
    font-family: Arimo-Bold;
    font-size: 35px ;
    padding-top: 10%;
}

.tdContIma{
    width:auto;
}

.tdMed{
    width:10px;
}

.images{
    width:70px;
    margin:auto;
}

input[type=text] {
    width: 90%;
    padding: 12px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
}

input[type=password] {
    width: 90%;
    padding: 12px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
}