@font-face {
    font-family: 'HussarBold';
    src: url('HussarBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Arimo-Bold';
    src: url('Arimo-Bold.ttf') format('truetype');
}

/*MASTER*/
.tableMaster{
    width:100%;
}

.trSup{
    background-color:black;
}

.contImaText {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.tittle {
    position: absolute;
    top: 32%;
    left: 2%;
    color: white;
    font-family: HussarBold;
    font-size:130%;
}

.imaCirculo {
    position: absolute;
    top: 30%;
    left: 12%;
}

.menuPrinc {
    font-family:HussarBold;
    font-size:25px;
    color: black;
    width:100%;
    height:25%;
    display:flex;
    align-content:space-around;
}

label {
    font-family:Arimo-Bold;
}

.enlace {
    font-family: Arimo-Bold;
}

input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
}

input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.contentBts {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.button {
    background-color: black;
    border: none;
    color: white;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
/*FIN MASTER*/

/*REGISTRO*/


.tableResgitro {
    width: 100%;
    
}

.FormRegistro{
    padding-left:17%;
}
td {
    width: 50%;
}
/*listBox*/
.txbT {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.asteriscos {
    color: red;
}
/*FIN REGISTRO*/

/*INICIO SECCION*/
.contInicio {
    /*descomentar para que quede sobre el fondo*/
    /* position: relative;*/
    display: inline-block;
    text-align: center;
    width: 100%;
    /* background-color: silver;  */
}

.formuInicio {
    /*cambiar posicion a absolute para que quede sobre el fondo*/
    position: relative;
    top: 20%;
    left: 25%;
    width: 50%;
    border: solid;
}

.tableInicio {
    font-family:Arimo-Bold;
}

.imagenes{
    width:70px;
}

.tdIma{
    width:8%;
}

.tdTx{
    width:40%
}

